// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$accounting-name: 'accounting';
$accounting-x: 130px;
$accounting-y: 182px;
$accounting-offset-x: -130px;
$accounting-offset-y: -182px;
$accounting-width: 31px;
$accounting-height: 31px;
$accounting-total-width: 328px;
$accounting-total-height: 304px;
$accounting-image: '../img/icons.png';
$accounting: (130px, 182px, -130px, -182px, 31px, 31px, 328px, 304px, '../img/icons.png', 'accounting', );
$analytics-name: 'analytics';
$analytics-x: 119px;
$analytics-y: 221px;
$analytics-offset-x: -119px;
$analytics-offset-y: -221px;
$analytics-width: 29px;
$analytics-height: 29px;
$analytics-total-width: 328px;
$analytics-total-height: 304px;
$analytics-image: '../img/icons.png';
$analytics: (119px, 221px, -119px, -221px, 29px, 29px, 328px, 304px, '../img/icons.png', 'analytics', );
$award-32-name: 'award-32';
$award-32-x: 66px;
$award-32-y: 182px;
$award-32-offset-x: -66px;
$award-32-offset-y: -182px;
$award-32-width: 32px;
$award-32-height: 32px;
$award-32-total-width: 328px;
$award-32-total-height: 304px;
$award-32-image: '../img/icons.png';
$award-32: (66px, 182px, -66px, -182px, 32px, 32px, 328px, 304px, '../img/icons.png', 'award-32', );
$best-name: 'best';
$best-x: 0px;
$best-y: 98px;
$best-offset-x: 0px;
$best-offset-y: -98px;
$best-width: 41px;
$best-height: 43px;
$best-total-width: 328px;
$best-total-height: 304px;
$best-image: '../img/icons.png';
$best: (0px, 98px, 0px, -98px, 41px, 43px, 328px, 304px, '../img/icons.png', 'best', );
$bordyur-primary-name: 'bordyur-primary';
$bordyur-primary-x: 312px;
$bordyur-primary-y: 159px;
$bordyur-primary-offset-x: -312px;
$bordyur-primary-offset-y: -159px;
$bordyur-primary-width: 16px;
$bordyur-primary-height: 15px;
$bordyur-primary-total-width: 328px;
$bordyur-primary-total-height: 304px;
$bordyur-primary-image: '../img/icons.png';
$bordyur-primary: (312px, 159px, -312px, -159px, 16px, 15px, 328px, 304px, '../img/icons.png', 'bordyur-primary', );
$bort-kamen-name: 'bort-kamen';
$bort-kamen-x: 288px;
$bort-kamen-y: 246px;
$bort-kamen-offset-x: -288px;
$bort-kamen-offset-y: -246px;
$bort-kamen-width: 20px;
$bort-kamen-height: 20px;
$bort-kamen-total-width: 328px;
$bort-kamen-total-height: 304px;
$bort-kamen-image: '../img/icons.png';
$bort-kamen: (288px, 246px, -288px, -246px, 20px, 20px, 328px, 304px, '../img/icons.png', 'bort-kamen', );
$boxes-name: 'boxes';
$boxes-x: 40px;
$boxes-y: 0px;
$boxes-offset-x: -40px;
$boxes-offset-y: 0px;
$boxes-width: 49px;
$boxes-height: 42px;
$boxes-total-width: 328px;
$boxes-total-height: 304px;
$boxes-image: '../img/icons.png';
$boxes: (40px, 0px, -40px, 0px, 49px, 42px, 328px, 304px, '../img/icons.png', 'boxes', );
$bruschatka-primary-name: 'bruschatka-primary';
$bruschatka-primary-x: 254px;
$bruschatka-primary-y: 251px;
$bruschatka-primary-offset-x: -254px;
$bruschatka-primary-offset-y: -251px;
$bruschatka-primary-width: 16px;
$bruschatka-primary-height: 16px;
$bruschatka-primary-total-width: 328px;
$bruschatka-primary-total-height: 304px;
$bruschatka-primary-image: '../img/icons.png';
$bruschatka-primary: (254px, 251px, -254px, -251px, 16px, 16px, 328px, 304px, '../img/icons.png', 'bruschatka-primary', );
$calculator-big-name: 'calculator-big';
$calculator-big-x: 0px;
$calculator-big-y: 182px;
$calculator-big-offset-x: 0px;
$calculator-big-offset-y: -182px;
$calculator-big-width: 34px;
$calculator-big-height: 39px;
$calculator-big-total-width: 328px;
$calculator-big-total-height: 304px;
$calculator-big-image: '../img/icons.png';
$calculator-big: (0px, 182px, 0px, -182px, 34px, 39px, 328px, 304px, '../img/icons.png', 'calculator-big', );
$calculator-name: 'calculator';
$calculator-x: 147px;
$calculator-y: 279px;
$calculator-offset-x: -147px;
$calculator-offset-y: -279px;
$calculator-width: 16px;
$calculator-height: 19px;
$calculator-total-width: 328px;
$calculator-total-height: 304px;
$calculator-image: '../img/icons.png';
$calculator: (147px, 279px, -147px, -279px, 16px, 19px, 328px, 304px, '../img/icons.png', 'calculator', );
$calendar-page-on-day-7-name: 'calendar-page-on-day-7';
$calendar-page-on-day-7-x: 134px;
$calendar-page-on-day-7-y: 42px;
$calendar-page-on-day-7-offset-x: -134px;
$calendar-page-on-day-7-offset-y: -42px;
$calendar-page-on-day-7-width: 42px;
$calendar-page-on-day-7-height: 42px;
$calendar-page-on-day-7-total-width: 328px;
$calendar-page-on-day-7-total-height: 304px;
$calendar-page-on-day-7-image: '../img/icons.png';
$calendar-page-on-day-7: (134px, 42px, -134px, -42px, 42px, 42px, 328px, 304px, '../img/icons.png', 'calendar-page-on-day-7', );
$cart-light-name: 'cart-light';
$cart-light-x: 255px;
$cart-light-y: 206px;
$cart-light-offset-x: -255px;
$cart-light-offset-y: -206px;
$cart-light-width: 17px;
$cart-light-height: 15px;
$cart-light-total-width: 328px;
$cart-light-total-height: 304px;
$cart-light-image: '../img/icons.png';
$cart-light: (255px, 206px, -255px, -206px, 17px, 15px, 328px, 304px, '../img/icons.png', 'cart-light', );
$cart-yellow-name: 'cart-yellow';
$cart-yellow-x: 228px;
$cart-yellow-y: 279px;
$cart-yellow-offset-x: -228px;
$cart-yellow-offset-y: -279px;
$cart-yellow-width: 16px;
$cart-yellow-height: 16px;
$cart-yellow-total-width: 328px;
$cart-yellow-total-height: 304px;
$cart-yellow-image: '../img/icons.png';
$cart-yellow: (228px, 279px, -228px, -279px, 16px, 16px, 328px, 304px, '../img/icons.png', 'cart-yellow', );
$cart-name: 'cart';
$cart-x: 270px;
$cart-y: 251px;
$cart-offset-x: -270px;
$cart-offset-y: -251px;
$cart-width: 16px;
$cart-height: 16px;
$cart-total-width: 328px;
$cart-total-height: 304px;
$cart-image: '../img/icons.png';
$cart: (270px, 251px, -270px, -251px, 16px, 16px, 328px, 304px, '../img/icons.png', 'cart', );
$cart2-primary-name: 'cart2-primary';
$cart2-primary-x: 312px;
$cart2-primary-y: 189px;
$cart2-primary-offset-x: -312px;
$cart2-primary-offset-y: -189px;
$cart2-primary-width: 16px;
$cart2-primary-height: 14px;
$cart2-primary-total-width: 328px;
$cart2-primary-total-height: 304px;
$cart2-primary-image: '../img/icons.png';
$cart2-primary: (312px, 189px, -312px, -189px, 16px, 14px, 328px, 304px, '../img/icons.png', 'cart2-primary', );
$certificate-name: 'certificate';
$certificate-x: 0px;
$certificate-y: 279px;
$certificate-offset-x: 0px;
$certificate-offset-y: -279px;
$certificate-width: 27px;
$certificate-height: 25px;
$certificate-total-width: 328px;
$certificate-total-height: 304px;
$certificate-image: '../img/icons.png';
$certificate: (0px, 279px, 0px, -279px, 27px, 25px, 328px, 304px, '../img/icons.png', 'certificate', );
$checked-light-name: 'checked-light';
$checked-light-x: 288px;
$checked-light-y: 58px;
$checked-light-offset-x: -288px;
$checked-light-offset-y: -58px;
$checked-light-width: 24px;
$checked-light-height: 24px;
$checked-light-total-width: 328px;
$checked-light-total-height: 304px;
$checked-light-image: '../img/icons.png';
$checked-light: (288px, 58px, -288px, -58px, 24px, 24px, 328px, 304px, '../img/icons.png', 'checked-light', );
$christmas-day-name: 'christmas-day';
$christmas-day-x: 177px;
$christmas-day-y: 221px;
$christmas-day-offset-x: -177px;
$christmas-day-offset-y: -221px;
$christmas-day-width: 29px;
$christmas-day-height: 27px;
$christmas-day-total-width: 328px;
$christmas-day-total-height: 304px;
$christmas-day-image: '../img/icons.png';
$christmas-day: (177px, 221px, -177px, -221px, 29px, 27px, 328px, 304px, '../img/icons.png', 'christmas-day', );
$clock-name: 'clock';
$clock-x: 85px;
$clock-y: 98px;
$clock-offset-x: -85px;
$clock-offset-y: -98px;
$clock-width: 39px;
$clock-height: 39px;
$clock-total-width: 328px;
$clock-total-height: 304px;
$clock-image: '../img/icons.png';
$clock: (85px, 98px, -85px, -98px, 39px, 39px, 328px, 304px, '../img/icons.png', 'clock', );
$computer-name: 'computer';
$computer-x: 288px;
$computer-y: 186px;
$computer-offset-x: -288px;
$computer-offset-y: -186px;
$computer-width: 20px;
$computer-height: 20px;
$computer-total-width: 328px;
$computer-total-height: 304px;
$computer-image: '../img/icons.png';
$computer: (288px, 186px, -288px, -186px, 20px, 20px, 328px, 304px, '../img/icons.png', 'computer', );
$contact-primary-name: 'contact-primary';
$contact-primary-x: 180px;
$contact-primary-y: 279px;
$contact-primary-offset-x: -180px;
$contact-primary-offset-y: -279px;
$contact-primary-width: 16px;
$contact-primary-height: 16px;
$contact-primary-total-width: 328px;
$contact-primary-total-height: 304px;
$contact-primary-image: '../img/icons.png';
$contact-primary: (180px, 279px, -180px, -279px, 16px, 16px, 328px, 304px, '../img/icons.png', 'contact-primary', );
$contact1-primary-name: 'contact1-primary';
$contact1-primary-x: 312px;
$contact1-primary-y: 96px;
$contact1-primary-offset-x: -312px;
$contact1-primary-offset-y: -96px;
$contact1-primary-width: 16px;
$contact1-primary-height: 16px;
$contact1-primary-total-width: 328px;
$contact1-primary-total-height: 304px;
$contact1-primary-image: '../img/icons.png';
$contact1-primary: (312px, 96px, -312px, -96px, 16px, 16px, 328px, 304px, '../img/icons.png', 'contact1-primary', );
$contract-primary-name: 'contract-primary';
$contract-primary-x: 312px;
$contract-primary-y: 48px;
$contract-primary-offset-x: -312px;
$contract-primary-offset-y: -48px;
$contract-primary-width: 16px;
$contract-primary-height: 16px;
$contract-primary-total-width: 328px;
$contract-primary-total-height: 304px;
$contract-primary-image: '../img/icons.png';
$contract-primary: (312px, 48px, -312px, -48px, 16px, 16px, 328px, 304px, '../img/icons.png', 'contract-primary', );
$debt-big-name: 'debt-big';
$debt-big-x: 134px;
$debt-big-y: 0px;
$debt-big-offset-x: -134px;
$debt-big-offset-y: 0px;
$debt-big-width: 42px;
$debt-big-height: 42px;
$debt-big-total-width: 328px;
$debt-big-total-height: 304px;
$debt-big-image: '../img/icons.png';
$debt-big: (134px, 0px, -134px, 0px, 42px, 42px, 328px, 304px, '../img/icons.png', 'debt-big', );
$debt-blue-name: 'debt-blue';
$debt-blue-x: 255px;
$debt-blue-y: 110px;
$debt-blue-offset-x: -255px;
$debt-blue-offset-y: -110px;
$debt-blue-width: 32px;
$debt-blue-height: 32px;
$debt-blue-total-width: 328px;
$debt-blue-total-height: 304px;
$debt-blue-image: '../img/icons.png';
$debt-blue: (255px, 110px, -255px, -110px, 32px, 32px, 328px, 304px, '../img/icons.png', 'debt-blue', );
$debt-name: 'debt';
$debt-x: 127px;
$debt-y: 141px;
$debt-offset-x: -127px;
$debt-offset-y: -141px;
$debt-width: 28px;
$debt-height: 28px;
$debt-total-width: 328px;
$debt-total-height: 304px;
$debt-image: '../img/icons.png';
$debt: (127px, 141px, -127px, -141px, 28px, 28px, 328px, 304px, '../img/icons.png', 'debt', );
$design-tool-name: 'design-tool';
$design-tool-x: 148px;
$design-tool-y: 221px;
$design-tool-offset-x: -148px;
$design-tool-offset-y: -221px;
$design-tool-width: 29px;
$design-tool-height: 29px;
$design-tool-total-width: 328px;
$design-tool-total-height: 304px;
$design-tool-image: '../img/icons.png';
$design-tool: (148px, 221px, -148px, -221px, 29px, 29px, 328px, 304px, '../img/icons.png', 'design-tool', );
$digital-marketing-name: 'digital-marketing';
$digital-marketing-x: 89px;
$digital-marketing-y: 0px;
$digital-marketing-offset-x: -89px;
$digital-marketing-offset-y: 0px;
$digital-marketing-width: 45px;
$digital-marketing-height: 45px;
$digital-marketing-total-width: 328px;
$digital-marketing-total-height: 304px;
$digital-marketing-image: '../img/icons.png';
$digital-marketing: (89px, 0px, -89px, 0px, 45px, 45px, 328px, 304px, '../img/icons.png', 'digital-marketing', );
$discount-voucher-name: 'discount-voucher';
$discount-voucher-x: 52px;
$discount-voucher-y: 251px;
$discount-voucher-offset-x: -52px;
$discount-voucher-offset-y: -251px;
$discount-voucher-width: 30px;
$discount-voucher-height: 23px;
$discount-voucher-total-width: 328px;
$discount-voucher-total-height: 304px;
$discount-voucher-image: '../img/icons.png';
$discount-voucher: (52px, 251px, -52px, -251px, 30px, 23px, 328px, 304px, '../img/icons.png', 'discount-voucher', );
$discount-name: 'discount';
$discount-x: 264px;
$discount-y: 221px;
$discount-offset-x: -264px;
$discount-offset-y: -221px;
$discount-width: 20px;
$discount-height: 20px;
$discount-total-width: 328px;
$discount-total-height: 304px;
$discount-image: '../img/icons.png';
$discount: (264px, 221px, -264px, -221px, 20px, 20px, 328px, 304px, '../img/icons.png', 'discount', );
$document-big-blue-name: 'document-big-blue';
$document-big-blue-x: 217px;
$document-big-blue-y: 0px;
$document-big-blue-offset-x: -217px;
$document-big-blue-offset-y: 0px;
$document-big-blue-width: 38px;
$document-big-blue-height: 42px;
$document-big-blue-total-width: 328px;
$document-big-blue-total-height: 304px;
$document-big-blue-image: '../img/icons.png';
$document-big-blue: (217px, 0px, -217px, 0px, 38px, 42px, 328px, 304px, '../img/icons.png', 'document-big-blue', );
$document-big-name: 'document-big';
$document-big-x: 217px;
$document-big-y: 126px;
$document-big-offset-x: -217px;
$document-big-offset-y: -126px;
$document-big-width: 37px;
$document-big-height: 39px;
$document-big-total-width: 328px;
$document-big-total-height: 304px;
$document-big-image: '../img/icons.png';
$document-big: (217px, 126px, -217px, -126px, 37px, 39px, 328px, 304px, '../img/icons.png', 'document-big', );
$document-name: 'document';
$document-x: 0px;
$document-y: 251px;
$document-offset-x: 0px;
$document-offset-y: -251px;
$document-width: 27px;
$document-height: 28px;
$document-total-width: 328px;
$document-total-height: 304px;
$document-image: '../img/icons.png';
$document: (0px, 251px, 0px, -251px, 27px, 28px, 328px, 304px, '../img/icons.png', 'document', );
$download-primary-name: 'download-primary';
$download-primary-x: 312px;
$download-primary-y: 32px;
$download-primary-offset-x: -312px;
$download-primary-offset-y: -32px;
$download-primary-width: 16px;
$download-primary-height: 16px;
$download-primary-total-width: 328px;
$download-primary-total-height: 304px;
$download-primary-image: '../img/icons.png';
$download-primary: (312px, 32px, -312px, -32px, 16px, 16px, 328px, 304px, '../img/icons.png', 'download-primary', );
$download-white-name: 'download-white';
$download-white-x: 312px;
$download-white-y: 16px;
$download-white-offset-x: -312px;
$download-white-offset-y: -16px;
$download-white-width: 16px;
$download-white-height: 16px;
$download-white-total-width: 328px;
$download-white-total-height: 304px;
$download-white-image: '../img/icons.png';
$download-white: (312px, 16px, -312px, -16px, 16px, 16px, 328px, 304px, '../img/icons.png', 'download-white', );
$download-name: 'download';
$download-x: 312px;
$download-y: 0px;
$download-offset-x: -312px;
$download-offset-y: 0px;
$download-width: 16px;
$download-height: 16px;
$download-total-width: 328px;
$download-total-height: 304px;
$download-image: '../img/icons.png';
$download: (312px, 0px, -312px, 0px, 16px, 16px, 328px, 304px, '../img/icons.png', 'download', );
$employees-name: 'employees';
$employees-x: 235px;
$employees-y: 221px;
$employees-offset-x: -235px;
$employees-offset-y: -221px;
$employees-width: 29px;
$employees-height: 25px;
$employees-total-width: 328px;
$employees-total-height: 304px;
$employees-image: '../img/icons.png';
$employees: (235px, 221px, -235px, -221px, 29px, 25px, 328px, 304px, '../img/icons.png', 'employees', );
$enlarge-name: 'enlarge';
$enlarge-x: 90px;
$enlarge-y: 221px;
$enlarge-offset-x: -90px;
$enlarge-offset-y: -221px;
$enlarge-width: 29px;
$enlarge-height: 29px;
$enlarge-total-width: 328px;
$enlarge-total-height: 304px;
$enlarge-image: '../img/icons.png';
$enlarge: (90px, 221px, -90px, -221px, 29px, 29px, 328px, 304px, '../img/icons.png', 'enlarge', );
$factory-name: 'factory';
$factory-x: 45px;
$factory-y: 53px;
$factory-offset-x: -45px;
$factory-offset-y: -53px;
$factory-width: 44px;
$factory-height: 44px;
$factory-total-width: 328px;
$factory-total-height: 304px;
$factory-image: '../img/icons.png';
$factory: (45px, 53px, -45px, -53px, 44px, 44px, 328px, 304px, '../img/icons.png', 'factory', );
$factory2-name: 'factory2';
$factory2-x: 191px;
$factory2-y: 182px;
$factory2-offset-x: -191px;
$factory2-offset-y: -182px;
$factory2-width: 30px;
$factory2-height: 30px;
$factory2-total-width: 328px;
$factory2-total-height: 304px;
$factory2-image: '../img/icons.png';
$factory2: (191px, 182px, -191px, -182px, 30px, 30px, 328px, 304px, '../img/icons.png', 'factory2', );
$flame-name: 'flame';
$flame-x: 0px;
$flame-y: 0px;
$flame-offset-x: 0px;
$flame-offset-y: 0px;
$flame-width: 40px;
$flame-height: 53px;
$flame-total-width: 328px;
$flame-total-height: 304px;
$flame-image: '../img/icons.png';
$flame: (0px, 0px, 0px, 0px, 40px, 53px, 328px, 304px, '../img/icons.png', 'flame', );
$garbage-16-red-name: 'garbage-16-red';
$garbage-16-red-x: 276px;
$garbage-16-red-y: 279px;
$garbage-16-red-offset-x: -276px;
$garbage-16-red-offset-y: -279px;
$garbage-16-red-width: 16px;
$garbage-16-red-height: 16px;
$garbage-16-red-total-width: 328px;
$garbage-16-red-total-height: 304px;
$garbage-16-red-image: '../img/icons.png';
$garbage-16-red: (276px, 279px, -276px, -279px, 16px, 16px, 328px, 304px, '../img/icons.png', 'garbage-16-red', );
$garbage-16-name: 'garbage-16';
$garbage-16-x: 260px;
$garbage-16-y: 279px;
$garbage-16-offset-x: -260px;
$garbage-16-offset-y: -279px;
$garbage-16-width: 16px;
$garbage-16-height: 16px;
$garbage-16-total-width: 328px;
$garbage-16-total-height: 304px;
$garbage-16-image: '../img/icons.png';
$garbage-16: (260px, 279px, -260px, -279px, 16px, 16px, 328px, 304px, '../img/icons.png', 'garbage-16', );
$gazonniy-kamen-name: 'gazonniy-kamen';
$gazonniy-kamen-x: 67px;
$gazonniy-kamen-y: 279px;
$gazonniy-kamen-offset-x: -67px;
$gazonniy-kamen-offset-y: -279px;
$gazonniy-kamen-width: 20px;
$gazonniy-kamen-height: 20px;
$gazonniy-kamen-total-width: 328px;
$gazonniy-kamen-total-height: 304px;
$gazonniy-kamen-image: '../img/icons.png';
$gazonniy-kamen: (67px, 279px, -67px, -279px, 20px, 20px, 328px, 304px, '../img/icons.png', 'gazonniy-kamen', );
$hand-name: 'hand';
$hand-x: 60px;
$hand-y: 221px;
$hand-offset-x: -60px;
$hand-offset-y: -221px;
$hand-width: 30px;
$hand-height: 29px;
$hand-total-width: 328px;
$hand-total-height: 304px;
$hand-image: '../img/icons.png';
$hand: (60px, 221px, -60px, -221px, 30px, 29px, 328px, 304px, '../img/icons.png', 'hand', );
$hands-primary-name: 'hands-primary';
$hands-primary-x: 312px;
$hands-primary-y: 233px;
$hands-primary-offset-x: -312px;
$hands-primary-offset-y: -233px;
$hands-primary-width: 16px;
$hands-primary-height: 13px;
$hands-primary-total-width: 328px;
$hands-primary-total-height: 304px;
$hands-primary-image: '../img/icons.png';
$hands-primary: (312px, 233px, -312px, -233px, 16px, 13px, 328px, 304px, '../img/icons.png', 'hands-primary', );
$hourglass-name: 'hourglass';
$hourglass-x: 217px;
$hourglass-y: 84px;
$hourglass-offset-x: -217px;
$hourglass-offset-y: -84px;
$hourglass-width: 35px;
$hourglass-height: 42px;
$hourglass-total-width: 328px;
$hourglass-total-height: 304px;
$hourglass-image: '../img/icons.png';
$hourglass: (217px, 84px, -217px, -84px, 35px, 42px, 328px, 304px, '../img/icons.png', 'hourglass', );
$house-big-name: 'house-big';
$house-big-x: 0px;
$house-big-y: 221px;
$house-big-offset-x: 0px;
$house-big-offset-y: -221px;
$house-big-width: 30px;
$house-big-height: 30px;
$house-big-total-width: 328px;
$house-big-total-height: 304px;
$house-big-image: '../img/icons.png';
$house-big: (0px, 221px, 0px, -221px, 30px, 30px, 328px, 304px, '../img/icons.png', 'house-big', );
$house-primary-name: 'house-primary';
$house-primary-x: 212px;
$house-primary-y: 279px;
$house-primary-offset-x: -212px;
$house-primary-offset-y: -279px;
$house-primary-width: 16px;
$house-primary-height: 16px;
$house-primary-total-width: 328px;
$house-primary-total-height: 304px;
$house-primary-image: '../img/icons.png';
$house-primary: (212px, 279px, -212px, -279px, 16px, 16px, 328px, 304px, '../img/icons.png', 'house-primary', );
$information-primary-name: 'information-primary';
$information-primary-x: 196px;
$information-primary-y: 279px;
$information-primary-offset-x: -196px;
$information-primary-offset-y: -279px;
$information-primary-width: 16px;
$information-primary-height: 16px;
$information-primary-total-width: 328px;
$information-primary-total-height: 304px;
$information-primary-image: '../img/icons.png';
$information-primary: (196px, 279px, -196px, -279px, 16px, 16px, 328px, 304px, '../img/icons.png', 'information-primary', );
$jigsaw-name: 'jigsaw';
$jigsaw-x: 0px;
$jigsaw-y: 141px;
$jigsaw-offset-x: 0px;
$jigsaw-offset-y: -141px;
$jigsaw-width: 39px;
$jigsaw-height: 41px;
$jigsaw-total-width: 328px;
$jigsaw-total-height: 304px;
$jigsaw-image: '../img/icons.png';
$jigsaw: (0px, 141px, 0px, -141px, 39px, 41px, 328px, 304px, '../img/icons.png', 'jigsaw', );
$katushka-name: 'katushka';
$katushka-x: 107px;
$katushka-y: 279px;
$katushka-offset-x: -107px;
$katushka-offset-y: -279px;
$katushka-width: 20px;
$katushka-height: 20px;
$katushka-total-width: 328px;
$katushka-total-height: 304px;
$katushka-image: '../img/icons.png';
$katushka: (107px, 279px, -107px, -279px, 20px, 20px, 328px, 304px, '../img/icons.png', 'katushka', );
$klassika-name: 'klassika';
$klassika-x: 288px;
$klassika-y: 126px;
$klassika-offset-x: -288px;
$klassika-offset-y: -126px;
$klassika-width: 20px;
$klassika-height: 20px;
$klassika-total-width: 328px;
$klassika-total-height: 304px;
$klassika-image: '../img/icons.png';
$klassika: (288px, 126px, -288px, -126px, 20px, 20px, 328px, 304px, '../img/icons.png', 'klassika', );
$kolor-miks-primary-name: 'kolor-miks-primary';
$kolor-miks-primary-x: 312px;
$kolor-miks-primary-y: 262px;
$kolor-miks-primary-offset-x: -312px;
$kolor-miks-primary-offset-y: -262px;
$kolor-miks-primary-width: 11px;
$kolor-miks-primary-height: 16px;
$kolor-miks-primary-total-width: 328px;
$kolor-miks-primary-total-height: 304px;
$kolor-miks-primary-image: '../img/icons.png';
$kolor-miks-primary: (312px, 262px, -312px, -262px, 11px, 16px, 328px, 304px, '../img/icons.png', 'kolor-miks-primary', );
$kvadrat-name: 'kvadrat';
$kvadrat-x: 288px;
$kvadrat-y: 166px;
$kvadrat-offset-x: -288px;
$kvadrat-offset-y: -166px;
$kvadrat-width: 20px;
$kvadrat-height: 20px;
$kvadrat-total-width: 328px;
$kvadrat-total-height: 304px;
$kvadrat-image: '../img/icons.png';
$kvadrat: (288px, 166px, -288px, -166px, 20px, 20px, 328px, 304px, '../img/icons.png', 'kvadrat', );
$like-name: 'like';
$like-x: 288px;
$like-y: 106px;
$like-offset-x: -288px;
$like-offset-y: -106px;
$like-width: 24px;
$like-height: 20px;
$like-total-width: 328px;
$like-total-height: 304px;
$like-image: '../img/icons.png';
$like: (288px, 106px, -288px, -106px, 24px, 20px, 328px, 304px, '../img/icons.png', 'like', );
$list-primary-name: 'list-primary';
$list-primary-x: 312px;
$list-primary-y: 174px;
$list-primary-offset-x: -312px;
$list-primary-offset-y: -174px;
$list-primary-width: 15px;
$list-primary-height: 15px;
$list-primary-total-width: 328px;
$list-primary-total-height: 304px;
$list-primary-image: '../img/icons.png';
$list-primary: (312px, 174px, -312px, -174px, 15px, 15px, 328px, 304px, '../img/icons.png', 'list-primary', );
$location-light-name: 'location-light';
$location-light-x: 238px;
$location-light-y: 251px;
$location-light-offset-x: -238px;
$location-light-offset-y: -251px;
$location-light-width: 16px;
$location-light-height: 16px;
$location-light-total-width: 328px;
$location-light-total-height: 304px;
$location-light-image: '../img/icons.png';
$location-light: (238px, 251px, -238px, -251px, 16px, 16px, 328px, 304px, '../img/icons.png', 'location-light', );
$location-primary-name: 'location-primary';
$location-primary-x: 222px;
$location-primary-y: 251px;
$location-primary-offset-x: -222px;
$location-primary-offset-y: -251px;
$location-primary-width: 16px;
$location-primary-height: 16px;
$location-primary-total-width: 328px;
$location-primary-total-height: 304px;
$location-primary-image: '../img/icons.png';
$location-primary: (222px, 251px, -222px, -251px, 16px, 16px, 328px, 304px, '../img/icons.png', 'location-primary', );
$long-arrow-pointing-to-the-right-24-primary-name: 'long-arrow-pointing-to-the-right-24-primary';
$long-arrow-pointing-to-the-right-24-primary-x: 288px;
$long-arrow-pointing-to-the-right-24-primary-y: 82px;
$long-arrow-pointing-to-the-right-24-primary-offset-x: -288px;
$long-arrow-pointing-to-the-right-24-primary-offset-y: -82px;
$long-arrow-pointing-to-the-right-24-primary-width: 24px;
$long-arrow-pointing-to-the-right-24-primary-height: 24px;
$long-arrow-pointing-to-the-right-24-primary-total-width: 328px;
$long-arrow-pointing-to-the-right-24-primary-total-height: 304px;
$long-arrow-pointing-to-the-right-24-primary-image: '../img/icons.png';
$long-arrow-pointing-to-the-right-24-primary: (288px, 82px, -288px, -82px, 24px, 24px, 328px, 304px, '../img/icons.png', 'long-arrow-pointing-to-the-right-24-primary', );
$long-arrow-pointing-to-the-right-white-name: 'long-arrow-pointing-to-the-right-white';
$long-arrow-pointing-to-the-right-white-x: 206px;
$long-arrow-pointing-to-the-right-white-y: 251px;
$long-arrow-pointing-to-the-right-white-offset-x: -206px;
$long-arrow-pointing-to-the-right-white-offset-y: -251px;
$long-arrow-pointing-to-the-right-white-width: 16px;
$long-arrow-pointing-to-the-right-white-height: 16px;
$long-arrow-pointing-to-the-right-white-total-width: 328px;
$long-arrow-pointing-to-the-right-white-total-height: 304px;
$long-arrow-pointing-to-the-right-white-image: '../img/icons.png';
$long-arrow-pointing-to-the-right-white: (206px, 251px, -206px, -251px, 16px, 16px, 328px, 304px, '../img/icons.png', 'long-arrow-pointing-to-the-right-white', );
$long-arrow-pointing-to-the-right-name: 'long-arrow-pointing-to-the-right';
$long-arrow-pointing-to-the-right-x: 190px;
$long-arrow-pointing-to-the-right-y: 251px;
$long-arrow-pointing-to-the-right-offset-x: -190px;
$long-arrow-pointing-to-the-right-offset-y: -251px;
$long-arrow-pointing-to-the-right-width: 16px;
$long-arrow-pointing-to-the-right-height: 16px;
$long-arrow-pointing-to-the-right-total-width: 328px;
$long-arrow-pointing-to-the-right-total-height: 304px;
$long-arrow-pointing-to-the-right-image: '../img/icons.png';
$long-arrow-pointing-to-the-right: (190px, 251px, -190px, -251px, 16px, 16px, 328px, 304px, '../img/icons.png', 'long-arrow-pointing-to-the-right', );
$lotok-dojd-primary-name: 'lotok-dojd-primary';
$lotok-dojd-primary-x: 217px;
$lotok-dojd-primary-y: 165px;
$lotok-dojd-primary-offset-x: -217px;
$lotok-dojd-primary-offset-y: -165px;
$lotok-dojd-primary-width: 34px;
$lotok-dojd-primary-height: 16px;
$lotok-dojd-primary-total-width: 328px;
$lotok-dojd-primary-total-height: 304px;
$lotok-dojd-primary-image: '../img/icons.png';
$lotok-dojd-primary: (217px, 165px, -217px, -165px, 34px, 16px, 328px, 304px, '../img/icons.png', 'lotok-dojd-primary', );
$manager-name: 'manager';
$manager-x: 217px;
$manager-y: 42px;
$manager-offset-x: -217px;
$manager-offset-y: -42px;
$manager-width: 36px;
$manager-height: 42px;
$manager-total-width: 328px;
$manager-total-height: 304px;
$manager-image: '../img/icons.png';
$manager: (217px, 42px, -217px, -42px, 36px, 42px, 328px, 304px, '../img/icons.png', 'manager', );
$measuring-tape-blue-name: 'measuring-tape-blue';
$measuring-tape-blue-x: 255px;
$measuring-tape-blue-y: 174px;
$measuring-tape-blue-offset-x: -255px;
$measuring-tape-blue-offset-y: -174px;
$measuring-tape-blue-width: 32px;
$measuring-tape-blue-height: 32px;
$measuring-tape-blue-total-width: 328px;
$measuring-tape-blue-total-height: 304px;
$measuring-tape-blue-image: '../img/icons.png';
$measuring-tape-blue: (255px, 174px, -255px, -174px, 32px, 32px, 328px, 304px, '../img/icons.png', 'measuring-tape-blue', );
$measuring-tape-name: 'measuring-tape';
$measuring-tape-x: 183px;
$measuring-tape-y: 141px;
$measuring-tape-offset-x: -183px;
$measuring-tape-offset-y: -141px;
$measuring-tape-width: 29px;
$measuring-tape-height: 27px;
$measuring-tape-total-width: 328px;
$measuring-tape-total-height: 304px;
$measuring-tape-image: '../img/icons.png';
$measuring-tape: (183px, 141px, -183px, -141px, 29px, 27px, 328px, 304px, '../img/icons.png', 'measuring-tape', );
$nestandartnoe-name: 'nestandartnoe';
$nestandartnoe-x: 288px;
$nestandartnoe-y: 206px;
$nestandartnoe-offset-x: -288px;
$nestandartnoe-offset-y: -206px;
$nestandartnoe-width: 20px;
$nestandartnoe-height: 20px;
$nestandartnoe-total-width: 328px;
$nestandartnoe-total-height: 304px;
$nestandartnoe-image: '../img/icons.png';
$nestandartnoe: (288px, 206px, -288px, -206px, 20px, 20px, 328px, 304px, '../img/icons.png', 'nestandartnoe', );
$new-name: 'new';
$new-x: 288px;
$new-y: 226px;
$new-offset-x: -288px;
$new-offset-y: -226px;
$new-width: 20px;
$new-height: 20px;
$new-total-width: 328px;
$new-total-height: 304px;
$new-image: '../img/icons.png';
$new: (288px, 226px, -288px, -226px, 20px, 20px, 328px, 304px, '../img/icons.png', 'new', );
$open-book-name: 'open-book';
$open-book-x: 0px;
$open-book-y: 53px;
$open-book-offset-x: 0px;
$open-book-offset-y: -53px;
$open-book-width: 45px;
$open-book-height: 45px;
$open-book-total-width: 328px;
$open-book-total-height: 304px;
$open-book-image: '../img/icons.png';
$open-book: (0px, 53px, 0px, -53px, 45px, 45px, 328px, 304px, '../img/icons.png', 'open-book', );
$package-name: 'package';
$package-x: 41px;
$package-y: 98px;
$package-offset-x: -41px;
$package-offset-y: -98px;
$package-width: 44px;
$package-height: 40px;
$package-total-width: 328px;
$package-total-height: 304px;
$package-image: '../img/icons.png';
$package: (41px, 98px, -41px, -98px, 44px, 40px, 328px, 304px, '../img/icons.png', 'package', );
$pantone-name: 'pantone';
$pantone-x: 221px;
$pantone-y: 182px;
$pantone-offset-x: -221px;
$pantone-offset-y: -182px;
$pantone-width: 30px;
$pantone-height: 30px;
$pantone-total-width: 328px;
$pantone-total-height: 304px;
$pantone-image: '../img/icons.png';
$pantone: (221px, 182px, -221px, -182px, 30px, 30px, 328px, 304px, '../img/icons.png', 'pantone', );
$partner-name: 'partner';
$partner-x: 206px;
$partner-y: 221px;
$partner-offset-x: -206px;
$partner-offset-y: -221px;
$partner-width: 29px;
$partner-height: 25px;
$partner-total-width: 328px;
$partner-total-height: 304px;
$partner-image: '../img/icons.png';
$partner: (206px, 221px, -206px, -221px, 29px, 25px, 328px, 304px, '../img/icons.png', 'partner', );
$payment-method-name: 'payment-method';
$payment-method-x: 89px;
$payment-method-y: 53px;
$payment-method-offset-x: -89px;
$payment-method-offset-y: -53px;
$payment-method-width: 44px;
$payment-method-height: 44px;
$payment-method-total-width: 328px;
$payment-method-total-height: 304px;
$payment-method-image: '../img/icons.png';
$payment-method: (89px, 53px, -89px, -53px, 44px, 44px, 328px, 304px, '../img/icons.png', 'payment-method', );
$phone-primary-name: 'phone-primary';
$phone-primary-x: 312px;
$phone-primary-y: 112px;
$phone-primary-offset-x: -312px;
$phone-primary-offset-y: -112px;
$phone-primary-width: 16px;
$phone-primary-height: 16px;
$phone-primary-total-width: 328px;
$phone-primary-total-height: 304px;
$phone-primary-image: '../img/icons.png';
$phone-primary: (312px, 112px, -312px, -112px, 16px, 16px, 328px, 304px, '../img/icons.png', 'phone-primary', );
$phone-white-name: 'phone-white';
$phone-white-x: 244px;
$phone-white-y: 279px;
$phone-white-offset-x: -244px;
$phone-white-offset-y: -279px;
$phone-white-width: 16px;
$phone-white-height: 16px;
$phone-white-total-width: 328px;
$phone-white-total-height: 304px;
$phone-white-image: '../img/icons.png';
$phone-white: (244px, 279px, -244px, -279px, 16px, 16px, 328px, 304px, '../img/icons.png', 'phone-white', );
$phone-name: 'phone';
$phone-x: 292px;
$phone-y: 279px;
$phone-offset-x: -292px;
$phone-offset-y: -279px;
$phone-width: 16px;
$phone-height: 16px;
$phone-total-width: 328px;
$phone-total-height: 304px;
$phone-image: '../img/icons.png';
$phone: (292px, 279px, -292px, -279px, 16px, 16px, 328px, 304px, '../img/icons.png', 'phone', );
$profil-primary-name: 'profil-primary';
$profil-primary-x: 312px;
$profil-primary-y: 143px;
$profil-primary-offset-x: -312px;
$profil-primary-offset-y: -143px;
$profil-primary-width: 15px;
$profil-primary-height: 16px;
$profil-primary-total-width: 328px;
$profil-primary-total-height: 304px;
$profil-primary-image: '../img/icons.png';
$profil-primary: (312px, 143px, -312px, -143px, 15px, 16px, 328px, 304px, '../img/icons.png', 'profil-primary', );
$pryamougolnik-name: 'pryamougolnik';
$pryamougolnik-x: 127px;
$pryamougolnik-y: 279px;
$pryamougolnik-offset-x: -127px;
$pryamougolnik-offset-y: -279px;
$pryamougolnik-width: 20px;
$pryamougolnik-height: 20px;
$pryamougolnik-total-width: 328px;
$pryamougolnik-total-height: 304px;
$pryamougolnik-image: '../img/icons.png';
$pryamougolnik: (127px, 279px, -127px, -279px, 20px, 20px, 328px, 304px, '../img/icons.png', 'pryamougolnik', );
$right-arrow-name: 'right-arrow';
$right-arrow-x: 288px;
$right-arrow-y: 266px;
$right-arrow-offset-x: -288px;
$right-arrow-offset-y: -266px;
$right-arrow-width: 18px;
$right-arrow-height: 13px;
$right-arrow-total-width: 328px;
$right-arrow-total-height: 304px;
$right-arrow-image: '../img/icons.png';
$right-arrow: (288px, 266px, -288px, -266px, 18px, 13px, 328px, 304px, '../img/icons.png', 'right-arrow', );
$ruler-32-name: 'ruler-32';
$ruler-32-x: 98px;
$ruler-32-y: 182px;
$ruler-32-offset-x: -98px;
$ruler-32-offset-y: -182px;
$ruler-32-width: 32px;
$ruler-32-height: 32px;
$ruler-32-total-width: 328px;
$ruler-32-total-height: 304px;
$ruler-32-image: '../img/icons.png';
$ruler-32: (98px, 182px, -98px, -182px, 32px, 32px, 328px, 304px, '../img/icons.png', 'ruler-32', );
$sale-name: 'sale';
$sale-x: 87px;
$sale-y: 279px;
$sale-offset-x: -87px;
$sale-offset-y: -279px;
$sale-width: 20px;
$sale-height: 20px;
$sale-total-width: 328px;
$sale-total-height: 304px;
$sale-image: '../img/icons.png';
$sale: (87px, 279px, -87px, -279px, 20px, 20px, 328px, 304px, '../img/icons.png', 'sale', );
$save-money-name: 'save-money';
$save-money-x: 176px;
$save-money-y: 83px;
$save-money-offset-x: -176px;
$save-money-offset-y: -83px;
$save-money-width: 40px;
$save-money-height: 40px;
$save-money-total-width: 328px;
$save-money-total-height: 304px;
$save-money-image: '../img/icons.png';
$save-money: (176px, 83px, -176px, -83px, 40px, 40px, 328px, 304px, '../img/icons.png', 'save-money', );
$screwdriver-big-name: 'screwdriver-big';
$screwdriver-big-x: 255px;
$screwdriver-big-y: 40px;
$screwdriver-big-offset-x: -255px;
$screwdriver-big-offset-y: -40px;
$screwdriver-big-width: 29px;
$screwdriver-big-height: 38px;
$screwdriver-big-total-width: 328px;
$screwdriver-big-total-height: 304px;
$screwdriver-big-image: '../img/icons.png';
$screwdriver-big: (255px, 40px, -255px, -40px, 29px, 38px, 328px, 304px, '../img/icons.png', 'screwdriver-big', );
$screwdriver-name: 'screwdriver';
$screwdriver-x: 288px;
$screwdriver-y: 30px;
$screwdriver-offset-x: -288px;
$screwdriver-offset-y: -30px;
$screwdriver-width: 21px;
$screwdriver-height: 28px;
$screwdriver-total-width: 328px;
$screwdriver-total-height: 304px;
$screwdriver-image: '../img/icons.png';
$screwdriver: (288px, 30px, -288px, -30px, 21px, 28px, 328px, 304px, '../img/icons.png', 'screwdriver', );
$scroll-name: 'scroll';
$scroll-x: 161px;
$scroll-y: 182px;
$scroll-offset-x: -161px;
$scroll-offset-y: -182px;
$scroll-width: 30px;
$scroll-height: 30px;
$scroll-total-width: 328px;
$scroll-total-height: 304px;
$scroll-image: '../img/icons.png';
$scroll: (161px, 182px, -161px, -182px, 30px, 30px, 328px, 304px, '../img/icons.png', 'scroll', );
$search-light-name: 'search-light';
$search-light-x: 312px;
$search-light-y: 218px;
$search-light-offset-x: -312px;
$search-light-offset-y: -218px;
$search-light-width: 14px;
$search-light-height: 15px;
$search-light-total-width: 328px;
$search-light-total-height: 304px;
$search-light-image: '../img/icons.png';
$search-light: (312px, 218px, -312px, -218px, 14px, 15px, 328px, 304px, '../img/icons.png', 'search-light', );
$search-primary-name: 'search-primary';
$search-primary-x: 312px;
$search-primary-y: 203px;
$search-primary-offset-x: -312px;
$search-primary-offset-y: -203px;
$search-primary-width: 14px;
$search-primary-height: 15px;
$search-primary-total-width: 328px;
$search-primary-total-height: 304px;
$search-primary-image: '../img/icons.png';
$search-primary: (312px, 203px, -312px, -203px, 14px, 15px, 328px, 304px, '../img/icons.png', 'search-primary', );
$shipped-32-name: 'shipped-32';
$shipped-32-x: 34px;
$shipped-32-y: 182px;
$shipped-32-offset-x: -34px;
$shipped-32-offset-y: -182px;
$shipped-32-width: 32px;
$shipped-32-height: 32px;
$shipped-32-total-width: 328px;
$shipped-32-total-height: 304px;
$shipped-32-image: '../img/icons.png';
$shipped-32: (34px, 182px, -34px, -182px, 32px, 32px, 328px, 304px, '../img/icons.png', 'shipped-32', );
$shipped-name: 'shipped';
$shipped-x: 83px;
$shipped-y: 141px;
$shipped-offset-x: -83px;
$shipped-offset-y: -141px;
$shipped-width: 44px;
$shipped-height: 28px;
$shipped-total-width: 328px;
$shipped-total-height: 304px;
$shipped-image: '../img/icons.png';
$shipped: (83px, 141px, -83px, -141px, 44px, 28px, 328px, 304px, '../img/icons.png', 'shipped', );
$sketch-blue-name: 'sketch-blue';
$sketch-blue-x: 255px;
$sketch-blue-y: 78px;
$sketch-blue-offset-x: -255px;
$sketch-blue-offset-y: -78px;
$sketch-blue-width: 32px;
$sketch-blue-height: 32px;
$sketch-blue-total-width: 328px;
$sketch-blue-total-height: 304px;
$sketch-blue-image: '../img/icons.png';
$sketch-blue: (255px, 78px, -255px, -78px, 32px, 32px, 328px, 304px, '../img/icons.png', 'sketch-blue', );
$sketch-name: 'sketch';
$sketch-x: 30px;
$sketch-y: 221px;
$sketch-offset-x: -30px;
$sketch-offset-y: -221px;
$sketch-width: 30px;
$sketch-height: 30px;
$sketch-total-width: 328px;
$sketch-total-height: 304px;
$sketch-image: '../img/icons.png';
$sketch: (30px, 221px, -30px, -221px, 30px, 30px, 328px, 304px, '../img/icons.png', 'sketch', );
$social-facebook-name: 'social-facebook';
$social-facebook-x: 163px;
$social-facebook-y: 279px;
$social-facebook-offset-x: -163px;
$social-facebook-offset-y: -279px;
$social-facebook-width: 17px;
$social-facebook-height: 17px;
$social-facebook-total-width: 328px;
$social-facebook-total-height: 304px;
$social-facebook-image: '../img/icons.png';
$social-facebook: (163px, 279px, -163px, -279px, 17px, 17px, 328px, 304px, '../img/icons.png', 'social-facebook', );
$social-vk-name: 'social-vk';
$social-vk-x: 176px;
$social-vk-y: 123px;
$social-vk-offset-x: -176px;
$social-vk-offset-y: -123px;
$social-vk-width: 28px;
$social-vk-height: 16px;
$social-vk-total-width: 328px;
$social-vk-total-height: 304px;
$social-vk-image: '../img/icons.png';
$social-vk: (176px, 123px, -176px, -123px, 28px, 16px, 328px, 304px, '../img/icons.png', 'social-vk', );
$social-youtube-name: 'social-youtube';
$social-youtube-x: 142px;
$social-youtube-y: 251px;
$social-youtube-offset-x: -142px;
$social-youtube-offset-y: -251px;
$social-youtube-width: 25px;
$social-youtube-height: 17px;
$social-youtube-total-width: 328px;
$social-youtube-total-height: 304px;
$social-youtube-image: '../img/icons.png';
$social-youtube: (142px, 251px, -142px, -251px, 25px, 17px, 328px, 304px, '../img/icons.png', 'social-youtube', );
$stars-primary-name: 'stars-primary';
$stars-primary-x: 312px;
$stars-primary-y: 128px;
$stars-primary-offset-x: -312px;
$stars-primary-offset-y: -128px;
$stars-primary-width: 16px;
$stars-primary-height: 15px;
$stars-primary-total-width: 328px;
$stars-primary-total-height: 304px;
$stars-primary-image: '../img/icons.png';
$stars-primary: (312px, 128px, -312px, -128px, 16px, 15px, 328px, 304px, '../img/icons.png', 'stars-primary', );
$staruy-gorod-name: 'staruy-gorod';
$staruy-gorod-x: 27px;
$staruy-gorod-y: 279px;
$staruy-gorod-offset-x: -27px;
$staruy-gorod-offset-y: -279px;
$staruy-gorod-width: 20px;
$staruy-gorod-height: 20px;
$staruy-gorod-total-width: 328px;
$staruy-gorod-total-height: 304px;
$staruy-gorod-image: '../img/icons.png';
$staruy-gorod: (27px, 279px, -27px, -279px, 20px, 20px, 328px, 304px, '../img/icons.png', 'staruy-gorod', );
$stock-name: 'stock';
$stock-x: 176px;
$stock-y: 42px;
$stock-offset-x: -176px;
$stock-offset-y: -42px;
$stock-width: 41px;
$stock-height: 41px;
$stock-total-width: 328px;
$stock-total-height: 304px;
$stock-image: '../img/icons.png';
$stock: (176px, 42px, -176px, -42px, 41px, 41px, 328px, 304px, '../img/icons.png', 'stock', );
$storage-name: 'storage';
$storage-x: 155px;
$storage-y: 141px;
$storage-offset-x: -155px;
$storage-offset-y: -141px;
$storage-width: 28px;
$storage-height: 28px;
$storage-total-width: 328px;
$storage-total-height: 304px;
$storage-image: '../img/icons.png';
$storage: (155px, 141px, -155px, -141px, 28px, 28px, 328px, 304px, '../img/icons.png', 'storage', );
$team-name: 'team';
$team-x: 112px;
$team-y: 251px;
$team-offset-x: -112px;
$team-offset-y: -251px;
$team-width: 30px;
$team-height: 22px;
$team-total-width: 328px;
$team-total-height: 304px;
$team-image: '../img/icons.png';
$team: (112px, 251px, -112px, -251px, 30px, 22px, 328px, 304px, '../img/icons.png', 'team', );
$thumbs-up-primary-name: 'thumbs-up-primary';
$thumbs-up-primary-x: 312px;
$thumbs-up-primary-y: 64px;
$thumbs-up-primary-offset-x: -312px;
$thumbs-up-primary-offset-y: -64px;
$thumbs-up-primary-width: 16px;
$thumbs-up-primary-height: 16px;
$thumbs-up-primary-total-width: 328px;
$thumbs-up-primary-total-height: 304px;
$thumbs-up-primary-image: '../img/icons.png';
$thumbs-up-primary: (312px, 64px, -312px, -64px, 16px, 16px, 328px, 304px, '../img/icons.png', 'thumbs-up-primary', );
$troturnaya-primary-name: 'troturnaya-primary';
$troturnaya-primary-x: 312px;
$troturnaya-primary-y: 80px;
$troturnaya-primary-offset-x: -312px;
$troturnaya-primary-offset-y: -80px;
$troturnaya-primary-width: 16px;
$troturnaya-primary-height: 16px;
$troturnaya-primary-total-width: 328px;
$troturnaya-primary-total-height: 304px;
$troturnaya-primary-image: '../img/icons.png';
$troturnaya-primary: (312px, 80px, -312px, -80px, 16px, 16px, 328px, 304px, '../img/icons.png', 'troturnaya-primary', );
$truck-crane-name: 'truck-crane';
$truck-crane-x: 39px;
$truck-crane-y: 141px;
$truck-crane-offset-x: -39px;
$truck-crane-offset-y: -141px;
$truck-crane-width: 44px;
$truck-crane-height: 33px;
$truck-crane-total-width: 328px;
$truck-crane-total-height: 304px;
$truck-crane-image: '../img/icons.png';
$truck-crane: (39px, 141px, -39px, -141px, 44px, 33px, 328px, 304px, '../img/icons.png', 'truck-crane', );
$truck-primary-name: 'truck-primary';
$truck-primary-x: 167px;
$truck-primary-y: 251px;
$truck-primary-offset-x: -167px;
$truck-primary-offset-y: -251px;
$truck-primary-width: 23px;
$truck-primary-height: 16px;
$truck-primary-total-width: 328px;
$truck-primary-total-height: 304px;
$truck-primary-image: '../img/icons.png';
$truck-primary: (167px, 251px, -167px, -251px, 23px, 16px, 328px, 304px, '../img/icons.png', 'truck-primary', );
$truck-name: 'truck';
$truck-x: 82px;
$truck-y: 251px;
$truck-offset-x: -82px;
$truck-offset-y: -251px;
$truck-width: 30px;
$truck-height: 22px;
$truck-total-width: 328px;
$truck-total-height: 304px;
$truck-image: '../img/icons.png';
$truck: (82px, 251px, -82px, -251px, 30px, 22px, 328px, 304px, '../img/icons.png', 'truck', );
$volna-name: 'volna';
$volna-x: 47px;
$volna-y: 279px;
$volna-offset-x: -47px;
$volna-offset-y: -279px;
$volna-width: 20px;
$volna-height: 20px;
$volna-total-width: 328px;
$volna-total-height: 304px;
$volna-image: '../img/icons.png';
$volna: (47px, 279px, -47px, -279px, 20px, 20px, 328px, 304px, '../img/icons.png', 'volna', );
$voucher-name: 'voucher';
$voucher-x: 124px;
$voucher-y: 98px;
$voucher-offset-x: -124px;
$voucher-offset-y: -98px;
$voucher-width: 41px;
$voucher-height: 37px;
$voucher-total-width: 328px;
$voucher-total-height: 304px;
$voucher-image: '../img/icons.png';
$voucher: (124px, 98px, -124px, -98px, 41px, 37px, 328px, 304px, '../img/icons.png', 'voucher', );
$wallet-name: 'wallet';
$wallet-x: 176px;
$wallet-y: 0px;
$wallet-offset-x: -176px;
$wallet-offset-y: 0px;
$wallet-width: 41px;
$wallet-height: 42px;
$wallet-total-width: 328px;
$wallet-total-height: 304px;
$wallet-image: '../img/icons.png';
$wallet: (176px, 0px, -176px, 0px, 41px, 42px, 328px, 304px, '../img/icons.png', 'wallet', );
$web-optimization-blue-name: 'web-optimization-blue';
$web-optimization-blue-x: 255px;
$web-optimization-blue-y: 142px;
$web-optimization-blue-offset-x: -255px;
$web-optimization-blue-offset-y: -142px;
$web-optimization-blue-width: 32px;
$web-optimization-blue-height: 32px;
$web-optimization-blue-total-width: 328px;
$web-optimization-blue-total-height: 304px;
$web-optimization-blue-image: '../img/icons.png';
$web-optimization-blue: (255px, 142px, -255px, -142px, 32px, 32px, 328px, 304px, '../img/icons.png', 'web-optimization-blue', );
$web-optimization-name: 'web-optimization';
$web-optimization-x: 27px;
$web-optimization-y: 251px;
$web-optimization-offset-x: -27px;
$web-optimization-offset-y: -251px;
$web-optimization-width: 25px;
$web-optimization-height: 28px;
$web-optimization-total-width: 328px;
$web-optimization-total-height: 304px;
$web-optimization-image: '../img/icons.png';
$web-optimization: (27px, 251px, -27px, -251px, 25px, 28px, 328px, 304px, '../img/icons.png', 'web-optimization', );
$worker-big-name: 'worker-big';
$worker-big-x: 255px;
$worker-big-y: 0px;
$worker-big-offset-x: -255px;
$worker-big-offset-y: 0px;
$worker-big-width: 33px;
$worker-big-height: 40px;
$worker-big-total-width: 328px;
$worker-big-total-height: 304px;
$worker-big-image: '../img/icons.png';
$worker-big: (255px, 0px, -255px, 0px, 33px, 40px, 328px, 304px, '../img/icons.png', 'worker-big', );
$worker-primary-name: 'worker-primary';
$worker-primary-x: 312px;
$worker-primary-y: 246px;
$worker-primary-offset-x: -312px;
$worker-primary-offset-y: -246px;
$worker-primary-width: 13px;
$worker-primary-height: 16px;
$worker-primary-total-width: 328px;
$worker-primary-total-height: 304px;
$worker-primary-image: '../img/icons.png';
$worker-primary: (312px, 246px, -312px, -246px, 13px, 16px, 328px, 304px, '../img/icons.png', 'worker-primary', );
$worker-name: 'worker';
$worker-x: 288px;
$worker-y: 0px;
$worker-offset-x: -288px;
$worker-offset-y: 0px;
$worker-width: 24px;
$worker-height: 30px;
$worker-total-width: 328px;
$worker-total-height: 304px;
$worker-image: '../img/icons.png';
$worker: (288px, 0px, -288px, 0px, 24px, 30px, 328px, 304px, '../img/icons.png', 'worker', );
$zigzag-name: 'zigzag';
$zigzag-x: 288px;
$zigzag-y: 146px;
$zigzag-offset-x: -288px;
$zigzag-offset-y: -146px;
$zigzag-width: 20px;
$zigzag-height: 20px;
$zigzag-total-width: 328px;
$zigzag-total-height: 304px;
$zigzag-image: '../img/icons.png';
$zigzag: (288px, 146px, -288px, -146px, 20px, 20px, 328px, 304px, '../img/icons.png', 'zigzag', );
$spritesheet-width: 328px;
$spritesheet-height: 304px;
$spritesheet-image: '../img/icons.png';
$spritesheet-sprites: ($accounting, $analytics, $award-32, $best, $bordyur-primary, $bort-kamen, $boxes, $bruschatka-primary, $calculator-big, $calculator, $calendar-page-on-day-7, $cart-light, $cart-yellow, $cart, $cart2-primary, $certificate, $checked-light, $christmas-day, $clock, $computer, $contact-primary, $contact1-primary, $contract-primary, $debt-big, $debt-blue, $debt, $design-tool, $digital-marketing, $discount-voucher, $discount, $document-big-blue, $document-big, $document, $download-primary, $download-white, $download, $employees, $enlarge, $factory, $factory2, $flame, $garbage-16-red, $garbage-16, $gazonniy-kamen, $hand, $hands-primary, $hourglass, $house-big, $house-primary, $information-primary, $jigsaw, $katushka, $klassika, $kolor-miks-primary, $kvadrat, $like, $list-primary, $location-light, $location-primary, $long-arrow-pointing-to-the-right-24-primary, $long-arrow-pointing-to-the-right-white, $long-arrow-pointing-to-the-right, $lotok-dojd-primary, $manager, $measuring-tape-blue, $measuring-tape, $nestandartnoe, $new, $open-book, $package, $pantone, $partner, $payment-method, $phone-primary, $phone-white, $phone, $profil-primary, $pryamougolnik, $right-arrow, $ruler-32, $sale, $save-money, $screwdriver-big, $screwdriver, $scroll, $search-light, $search-primary, $shipped-32, $shipped, $sketch-blue, $sketch, $social-facebook, $social-vk, $social-youtube, $stars-primary, $staruy-gorod, $stock, $storage, $team, $thumbs-up-primary, $troturnaya-primary, $truck-crane, $truck-primary, $truck, $volna, $voucher, $wallet, $web-optimization-blue, $web-optimization, $worker-big, $worker-primary, $worker, $zigzag, );
$spritesheet: (328px, 304px, '../img/icons.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
