.btn {
	position: relative;
	text-align: center;
	line-height: 44px;
	vertical-align: middle;
	font-size: 12px;
	border-radius: $btn-radius;
	font-weight: $font-weight-bold;
	text-transform: uppercase;
	white-space: nowrap;
	color: $black;

	&:hover,
	&.active,
	&.is-selected {
		color: $white;
		background-color: $yellow;
		opacity: 1;
		text-decoration: none;
		box-shadow: 0 3px 5px transparentize($dark, .85);
	}
}

.btn,
button {
	&:disabled {
		background-color: #dfe1e6;
		color: $light-gray;

		&.btn--success {
			background-color: $white;
			color: $green;
			@include border($color: $green);
		}

		&::before,
		&::after {
			display: none;
		}

		&:hover {
			box-shadow: inherit;
		}
	}
}

.btn--spacing {
	display: inline-block;
	padding-left: 16px;
	padding-right: 16px;
}

.btn--fluid {
	display: block;
	width: 100%;
	margin-bottom: 10px;
}

.btn--inline {
	display: inline-block;
	width: 200px;
	vertical-align: middle;
	padding: 0;
	margin-bottom: 10px;
}

.btn--gray {
	background-color: $clear-blue;
	color: $gray;
}

.btn--yellow {
	background-color: $yellow;
	color: $black;
}

.btn--disabled {
	background-color: #dfe1e6;
	color: $light-gray;
}

.btn--color {
	
	&-yellow {
		color: $yellow;
	}

	&:hover {
		color: $blue;

		svg {
			fill: $blue;
		}
	}
}

.btn--blue {
	background-color: $blue;
	color: $white;
}

.btn--light-blue {
	background-color: $light-blue;
	color: $white;
}

.btn--white {
	background-color: $white;
	color: $gray;
}

.btn--cart {
	&::before {
		content: '';
		display: inline-block;
		@include sprite($cart);
		@include svgfix();
	}

	&:hover {
		&::before {
			@include sprite($cart-yellow);
		}
	}
}

.btn--yellow.btn--cart:hover{
	&::before {
		@include sprite($cart-light);
	}
}

.btn--transparent {
	background-color: transparent;
}

.btn--outline-blue {
	border: 2px solid $blue;
	color: $blue;
	line-height: 40px;

	&.btn:hover {
		color: $yellow;
		border-color: $yellow;
		background-color: transparent;

		svg {
			fill: $yellow;
		}
	}
}

.btn--outline-yellow {
	border: 2px solid $yellow;
	color: $black;
	line-height: 40px;
}

.btn--outline-gray {
	border: 1px solid $gray;
	color: $gray;
	line-height: 40px;

	&.btn:hover {
		color: $yellow;
		border-color: $yellow;
		background-color: transparent;

		svg {
			fill: $yellow;
		}
	}
}

.btn--outline-black {
	border: 1px solid $black;
	color: $black;
	line-height: 40px;

	&.btn:hover {
		color: $yellow;
		border-color: $yellow;
		background-color: transparent;

		svg {
			fill: $yellow;
		}
	}
}

.btn--outline-white {
	border: 1px solid transparent;
	color: $gray;
	line-height: 40px;

	&.btn:hover {
		color: $yellow;
		background-color: transparent;
		box-shadow: none;

		svg {
			fill: $yellow;
		}
	}
}
