.banner {

	&__title {
		@include text($size: h2);
		margin-bottom: 35px;
		color: $white;

		@media #{query($min: $md, $max: false)} {
			max-width: 350px;
		}
	}

	&__list {
		margin-bottom: 2rem;
	
		&-item {
			color: $white;
			margin-bottom: 1rem;
		}
	}

	&__img {
		position: absolute;
		bottom: -50px; right: -50px;
		width: 100vw;
		text-align: right;

		img {
			object-fit: none;
			max-width: auto;
			max-height: auto;
		}
	}
}