.product-page {
	&__row {
		display: flex;
		align-items: center;
	}

	&__options{
		@media(max-width: 576px){
			display: block;
		}
	}

	&__col-left {
		flex: 0 0 63%;
		max-width: calc(63% - 15px);
	}

	@media(max-width: 576px){
		&__col-left {
			min-width: 100%;
		}
	}

	&__col-right {
		flex: 0 0 37%;
		max-width: calc(37% - 15px);
	}

	@media(max-width: 576px){
		&__col-right {
			min-width: 100%;
		}
	}

	&__name {
		display: block;
		--margin: 15px x;
		@media(max-width: 576px){
			display: none;
			
		}
	}

	&__name-media{
		@media(max-width: 576px){
			display: block;
			--margin: 2% x;
		}
		@media(min-width: 577px){
			display: none;
			--margin: 2% x;
		}
	}

	&__status {
		display: inline-block;
	}

	&__action {
		.icon--cart-filled {
			vertical-align: -5px;
			fill: #555;
		}
	
		&-link {
			display: block;
			width: 100%;
			text-transform: uppercase;
			font-size: $font-size-sm;
			font-weight: $font-weight-bold;
			text-align: center;
	
			&:hover {
				color: $yellow;
			}
		}
	}

	&__rating-block {
		display: inline-block;
		margin-right: 15px;
	}

	&__prices {
		flex: auto;
	}

	&__price {
		display: flex;
		--margin: x -10px;

		& > span {
			white-space: nowrap;
			display: inline-block;
			flex: 1 1 auto;
			--padding: x 10px;
			line-height: 20px;
		}
	}

	&__special {
		font-size: 36px;
		line-height: 40px;
	}

	&__reduction {
		$this: &;
		width: 100%;
		position: relative;

		.percent {
			position: absolute;
			display: block;
			left: 0;
			animation: fadeInOut 6s ease 0s infinite;
		}

		.rouble {
			position: absolute;
			display: block;
			left: 0;
			opacity: 0;
			animation: fadeInOut 6s ease 3s infinite;
		}

		&:hover {
			.rouble,
			.percent {
				animation-play-state: paused;
			}
		}

		@keyframes fadeInOut {
			0% {opacity: 0;}
			25% {opacity: 0;}
			50% {opacity: 1;}
			75% {opacity: 1;}
			100% {opacity: 0;}
		}
	}
	
	&__actions {
		position: relative;
		display: flex;
		justify-content: space-between;
		margin-top: 20px;

		.icon-question-mark {
			display: inline-block;
			@include border();
			--size: 14px;
			line-height: 14px;
			text-align: center;
			border-radius: 50%;
			color: $black;
			font-size: 11px;
			font-weight: $font-weight-bold;
			margin-left: 8px;
			vertical-align: 2px;
		}

		&--bordered {
			@include border($style: dashed);
			padding: 25px 20px;
		}

		@media(max-width: 576px){
			&--bordered {
				flex-direction: column;
				text-align: center;
			}
		}
	}
	
	&__img {
		padding: 20px;
		position: relative;
		@include border($width: 2px, $color: $clear-blue);
		margin-bottom: 30px;

		img {
			max-height: 450px;
		}
	}

	&__preview {
		@include flexbox(null, center, center);
		border-radius: $card-radius;
		text-align: center;
		min-height: 450px;

		@media(max-width: 576px){
			min-height: 250px;
	}

		img {
			display: block;
			--margin: x auto;
			--size: auto 100%;
		}
	}

	[id^="input-option"] {
		margin-top: 5px;
		display: flex;
		flex-flow: row wrap;
	}

	&__radio-box {
		position: relative;

		&:not(:last-child) {
			margin-right: 15px;
		}

		label {
			@include border($width: 2px, $color: $clear-blue);
			border-radius: $card-radius;
			--padding: x 15px;
		}
	}

	&__input-box {
		&-title {
			display: inline-block;
			cursor: help;
			font-weight: $font-weight-bold;
			margin-bottom: 5px;
		
			&:hover {
				color: $yellow;

				.product-page__input-box-description {
					display: block;
				}

				.icon-question-mark {
					border-color: $yellow;
					color: $yellow;
				}
			}
		}

		&-error {
			position: absolute;
			top: 0; right: 0;
			color: $red;

			&:before {
				content: '*';
				margin-right: 5px;
			}
		}
	}
	
	&__input-box-description {
		display: none;
		padding: 15px;
		width: 100%;
		position: absolute;
		top: -5px; left: 0;
		transform: translateY(-100%);
		border-radius: $card-radius;
		background-color: $clear-blue;
		font-weight: $font-weight-normal;
		color: $black;
	}
}

.product-card {
	$parent: &;

	position: relative;
	@include border($color: $clear-blue);
	background-color: $white;
	border-radius: $card-radius;
	padding: 20px;
	cursor: pointer;

	&:hover {
		z-index: 10;
		--border-bottom-radius: 0;
		box-shadow: 0 2px 15px transparentize($dark, .9);

		#{$parent}__btns {
			display: block;
		}
	}

	@media(max-width: 576px){
			z-index: 1;
			--border-bottom-radius: 0;
			box-shadow: 0 2px 15px transparentize($dark, .9);
			--margin: 25% x;

			#{$parent}__btns {
				display: block;
			}

			&__labels {

				#{$parent}__label {
					&::before{
						left: 4%!important;
					}
				}
			}
	}

	&__labels {
		position: absolute;
		top: 6px;
		left: 6px;
		z-index: 9;

		#{$parent}__label {
			margin-bottom: 5px;
			color: #fff;
			font-size: 17px;
			border-radius: 5px;
			position: relative;
			padding: 8px 14px 8px 42px;

			&.new {
				background-color: #4ecd02;
				color: $white;

				&::before{
					content: "";
					@include sprite($new);
					position: absolute;
					left: 8%;
				}
			}

			&.action {
				background-color: #fdc800;
				color: $white;
				
				&::before{
					content: "";
					@include sprite($sale);
					position: absolute;
					left: 8%;
				}
			}

			&.hit {
				background-color: #fb5b5e;
				color: $white;

				&::before{
					content: "";
					@include sprite($like);
					position: absolute;
					left: 8%;
				}
			}

			&.discount {
				background-color: #33a8f3;
				color: $white;

				&::before{
					content: "";
					@include sprite($discount);
					position: absolute;
					left: 8%;
				}
			}
		}
	}

	&__img {
		display: block;
		height: 180px;
		margin-bottom: 15px;
		text-align: center;
		background-color: $white;
		border-radius: $card-radius;
		overflow: hidden;
	}

	&__name {
		display: block;
		line-height: 16px;
		font-weight: $font-weight-normal;
	}

	&__prices {
		@include text($size: h3, $weight: $font-weight-bold);
		margin-bottom: 5px;

		#{$parent}__price {
			&--old {
				text-decoration: line-through;
				color: $light-gray;
				@include text($size: normal);
			}
		}
	}

	&__rating {
		font-size: $font-size-base;
		position: relative;
		white-space: nowrap;

		&:before {
			position: relative;
			content: '\2605' + '\2605' + '\2605' + '\2605' + '\2605';
			font-size: 20px;
			color: darken($clear-blue, 5%);
			display: inline-block;
			width: 80px;
		}

		&-stars {
			position: absolute;
			left: 0; top: 0;
			--size: 100%;
			font-size: 20px;
			color: $yellow;
			overflow: hidden;
			background-color: transparent;

			&:before {
				content: '\2605' + '\2605' + '\2605' + '\2605' + '\2605';
				max-width: 80px;
				display: inline-block;
			}
		}
	}

	&__status {
		&.instock {
			position: relative;
			color: $green;
			padding-left: 15px;

			&:before {
				content: '\2714';
				margin-right: 3px;
				position: relative;
				bottom: -0.5px;
			}
		}
	}
	
	&__btns {
		background-color: $white;
		position: absolute;
		top: calc(100% - 10px);
		left: 0; //cauz of shadow that are displaced by 15px
		display: none;
		width: 100%;
		--padding: 5px 20px 5px 20px; //30px for more space between btn and details
		--border-bottom-radius: #{$card-radius};
		box-shadow: 0 10px 15px transparentize($dark, .9);
	}
}

.recomend {
	max-width: 1200px;

	&__title {
		margin-bottom: 25px;
	}

	&-slider {
		--margin: x -10px;

		&__img {
			display: block;
		}

		&__item {
			padding: 5px 10px;
			width: 100%;
		}

		&__price {
			color: $blue;
		}

		.product-card:hover {
			.product-card__btns {
				display: none;
			}
		}
	}

	&__link {
		display: block;
	}

	&__price {
		display: inline-block;
	} 
}

	@media(max-width: 576px){
			recomend-slider__item{
			width: 100%;
			}
	}
.product-info {
	margin-bottom: 50px;

	.tabs__btn {
		text-transform: uppercase;
	}

	.editor {
		margin-bottom: 1rem;
	}

	&__feedback {
		&-item {
			padding: 20px;
			background-color: $clear-blue;
			margin-bottom: 10px;
			border-radius: $card-radius-big;
			min-height: 90px;
		}

		&-img {
			margin-right: 30px;
		}

		&-title {
			margin-bottom: 5px;
		}

		&-author {
			font-weight: $font-weight-bold;
			margin-right: 5px;
		}

		.product-page__rating-block {
			vertical-align: -3px;
		}
	}
}

.v-assortiment {
	padding: 20px;
	box-shadow: 0 2px 15px transparentize($dark, .9);
	margin-top: 50px;

	&__item {
		display: flex;
		justify-content: space-between;
		align-items: center;

		&:not(:first-of-type) {
			margin: 20px 0 0 0;
		}
	}

	.svg-border {
		border-color: $gray;
		vertical-align: middle;
	}

	&__text {
		width: calc(100% - 100px);
		vertical-align: middle;
	}
}

.block-video {
	margin-top: 50px;

	&__h3 {
		margin-bottom: 10px;
		color: $black;
	}

	&__text {
		margin-bottom: 10px;
		font-weight: $font-weight-bold;
		color: $gray;
	}

	.more-about__video {
		height: 300px;
	}
}

.radiobox-colors__list-item {
	border-radius: 50%;
}

.radiobox-colors__list-item {
	.input-radio:checked + label {
		border-width: 1px;
	}
}

.radiobox-colors__list-item,
.cart-products__option {
	.label--color {
		width: 25px; height: 25px;
		@include border();
		border-width: 0;
		display: inline-block;
		position: relative;
		border-color: transparent;
		overflow: hidden;
		border-radius: 50%;
		margin-right: 8px;
		box-shadow: black 0 1px 1px;
	
		&:before {
			position: absolute;
			top: 0; left: 0;
			content: '';
			--size: 30px;
			border: 0;
		}
	
		&[title="Серый"]:before {
			background-color: #7b7370;
		}
		
		&[title="Песочный"]:before {
			background-color: #cebbaa;
		}
		
		&[title="Красно-коричневый"]:before {
			background-color: #725452;
		}
		
		&[title="Черный"]:before {
			background-color: #4e4e50;
		}
		
		&[title="Красный"]:before {
			background-color: #835d5c;
		}
		
		&[title="Коричневый"]:before {
			background-color: #62504e;
		}
		
		&[title="Бежевый"]:before {
			background-color: #a28c81;
		}
		
		&[title="Синий"]:before {
			background-color: #6f8087;
		}
		
		&[title="Желтый"]:before {
			background-color: #a59559;
		}
		
		&[title="Оранжевый"]:before, &[title="Персиковый"]:before {
			background-color: #a16c4c;
		}
		
		&[title="Белый"]:before {
			background-color: $white;
		}
		
		&[title="Зеленый"]:before {
			background-color: #7e8772;
		}

		&[title="Темно-серый"]:before {
			background-color: #49423d;
		}

		&[title=" Cветло-коричневый"]:before {
			background-color: #987654;
		}

		&[title="Светло-серый"]:before {
			background-color: #d1d1d1;
		}

		&[title="Темно-красный"]:before {
			background-color: #8b0000;
		}

		&[title="Темно-коричневый"]:before {
			background-color: #654321;
		}

		&[title="Оливковый"]:before {
			background-color: #808000;
		}

		&[title="Красный яркий"]:before {
			background-color: #ff0000;
		}

		&[title="Зеленый органический"]:before {
			background-color: #aee8af;
		}
	}

	.label--img {
		display: inline-block;
		padding: 5px 10px;
		@include border();
		border-radius: $card-radius;

		img {
			height: 20px;
			vertical-align: -4px;
			width: auto;
			margin-right: 8px;
		}
	}

	&:not(:last-child) {
		.label--img {
			margin-right: 15px;
		}
	}

	svg {
		vertical-align: -3px;
		height: 18px;
		margin-right: 5px;
	}
}

@media(max-width: 576px){
	.product-page .row{
		flex-direction: column;
	}

	.product-card__labels .product-card__label {
	    font-size: 15px;
	    padding: 8px 14px 8px 30px;
	}

	.product-btn{
		border: 1px solid;
		margin-bottom: 2%;
		width: 100%;
		text-align: center;
	}

	.product-left{
	    display: inline-block;
	    vertical-align: middle;
	    width: 59%;
	}

	.product-right{
	    display: inline-block;
	    vertical-align: middle;
	    width: 39%;
	}
}




	.product-card .product-card__labels .product-card__label {
		margin-bottom: 5px;
		color: #fff;
		font-size: 11px;
		border-radius: 5px;
		position: relative;
		padding: 3px 3px 1px 31px;
	}
